doctype html
html
  head
    title= 'İstanbul Şehir Haritası'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="shortcut icon" href="images/favicon.ico")
    block stylesheet
  body
    block content
