body {padding: 50px; font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;}
a {color: #00B7FF;}
body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0; width: 100%; z-index: -1}
#search_box {z-index: 1; position: absolute; top: 20px; left: 20px}
#search_input { width: 330px; height: 30px; padding: 10px 10px 10px 30px; border: none; border-radius: 7px 7px 0 0 ; outline: none}
#search_result_box {width: 370px; border-top: 1px solid #ccc; height: auto; background: white; border-radius: 0 0 7px 7px;}
#search_result_list {list-style: none; padding-left: 10px;}
